<div class="middle membership" ng-if="project">
  <div class="middle-header">
    <div class="container-fluid">
      <div class="page-header page-header-bleed-right page-header-bleed-left">
        <h1>
           Cluster Operator
           <span class="page-header-link">
             <a ng-href="https://github.com/openshift/cluster-operator" target="_blank">
               Learn More <i class="fa fa-external-link" aria-hidden="true"></i>
             </a>
           </span>
        </h1>
      </div>
    </div>
  </div>
  <div class="middle-content" persist-tab-state>
    <div class="container-fluid">
      <alerts alerts="alerts"></alerts>
      <div ng-repeat="cluster in clusters">
        <div class="app-heading">
          <h2>
            <div class="component-label">Cluster</div>
            <span ng-bind-html="cluster.metadata.name"></span>
          </h2>
          <div class="list-pf-item active">
            <div class="list-pf-container">
              <div class="list-pf-content list-pf-content-flex">
                <div ng-repeat="(label, machineset) in machineSetsByCluster[cluster.metadata.name]">
                  <div class="list-pf-content-wrapper">
                    <div class="list-pf-main-content">
                      <div class="list-pf-title">
                        <h2 class="h3" ng-bind-html="label"></h2>
                      </div>
                      <machine-set-donut machineset="machineset"></machine-set-donut>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
